* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body {
  background-color: #175aae;
}
h1 {
  margin: 0;
}
img {
  image-rendering: -webkit-optimize-contrast;
}

.main-container {
  max-width: 1300px;
  margin: 15px auto;
  padding: 30px;
  background: #fff;
  min-height: calc(100vh - 30px);
}
.films-loading {
  width: 100%;
  height: calc(100vh - 210px);
  display: flex;
  justify-content: center;
  align-items: center;
  .films-loading__gif {
    width: 200px;
  }
}