.films-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.film-card {
  width: 230px;
  height: 440px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  color: #000;
  padding-bottom: 5px;
  &:hover {
    box-shadow: 0 0px 5px 3px rgba(41, 9, 253, 0.24);
  }
  .film-card__img {
    display: block;
    max-width: 230px;
  }
  .film-card__title {
    margin-top: auto;
    margin-bottom: 5px;
    align-self: flex-start;
    height: 54px;
    padding: 0 5px;
  }
  .film-card__year-block {
    align-self: flex-start;
    padding: 0 5px;
  }
}