.films-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.film-card {
  width: 230px;
  height: 440px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  &:hover {
    box-shadow: 0 0px 5px 3px rgba(41, 9, 253, 0.24);
  }
  .film-card__img {
    display: block;
    max-width: 230px;
  }
  .film-card__title {
    margin-top: auto;
    margin-bottom: 5px;
  }
}