* {
  box-sizing: border-box;
}
body {
  background-color: midnightblue;
  background-color: gray;
}
h1 {
  margin: 0;
}
.main-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  background: #fff;
}
.films-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.films-card {
  display: block;
  width: 45%;
}